body {
  background: url("/images/good.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
}
.content-wrap {
  opacity: 0.8;
}
.sidebar {
  opacity: 0.8;
}
.header-inner {
  background: rgba(255,255,255,0.8);
}
.popup {
  opacity: 0.8;
}
